@model IEnumerable<piano_store.Models.Product>

<!DOCTYPE html>

<html>
<head>
	<title>Southview Piano</title>
</head>
<body>
	<h1>Shop</h1>

	@* Display a list of products *@
	@foreach (var item in Model)
	{
		<img height="100" , width="100" src="@item.ImageUrl"/>
		<h3>@item.Name</h3>
		<p>@item.Price.ToString("c")</p>
	}

</body>
</html>